.detailContainer {
  background-color: #e9e9e9;
  font-family: sans-serif;
}

.economySection {
  padding: 30px 10px;
  min-height: 50vh;
}

.economyTitle {
  font-size: 40px;
  text-align: center;
}
